.animal-gif {
    display: block;
    float: left;
    padding: 7px;
}
.buttons{
	padding: 5px;
}
button.btn.btn-primary.animal {
    margin-right: 5px;
    margin-bottom: 5px;
}

input#add-animal{
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid #178acc;
    color: #ffffff;
    background-color: #178acc;
    border-color: #1684c2;
    border-radius: 4px;
    margin-top: 5px;
}